/* Start variables */
:root {
  --main-color: #19c8fa;
  --transparent--color: rgba(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End variables */
/* Start Global Rules*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "open sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 765px) {
  .container {
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/*Start Component*/
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 auto 50px;
  position: relative;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  height: 2px;
  width: 150px;
  background: #333;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #333;
  left: 50%;
  bottom: -35px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-heading p {
  width: 500px;
  margin: 0 auto 100px;
  color: #777;
  max-width: 100%;
  line-height: 2;
}
/*End Component*/
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 30px);
  left: 15px;
  background-color: #a2a2a2;
}
header .container .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header nav .toggle-menu:hover + ul a {
  padding: 15px;
}
header nav ul li a {
  color: white;
  display: block;
  padding: 40px 10px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  position: relative;
  z-index: 2;
}
header nav .form {
  border-left: 1px solid white;
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
}
header nav .form i {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  right: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgba(0 0 0 / 80%);
}
.landing .text {
  color: white;
  background-color: var(--transparent--color);
  width: 50%;
  top: 50%;
  left: 0;
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .text .content {
  width: 500px;
}
@media (max-width: 767px) {
  .landing .text,
  .landing .text .content {
    width: 100%;
  }
}
.landing .text .content h2 {
  line-height: 1.6;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 30px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  color: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing ul li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
.services .srv-box h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .srv-box p {
  line-height: 2;
  color: #777;
}
.services .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
/* End Services */
/* Start Design*/
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  height: 600px;
  background-image: url(../images/design-features.jpg);
  background-color: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgba(0 0 0 /80%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  top: 150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent--color);
}
.design .text h2 {
  line-height: 1.6;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}
.design .text ul li {
  padding: 15px 0;
  font-weight: normal;
}
.design .text ul li::before {
  font-family: "font Awesome 5 free";
  content: "\f390";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Design */
/* Start Portfolio*/
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  width: 100%;
  bottom: -100%;
  background-color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .imgs-container .box h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box p {
  color: var(--main-color);
}
.portfolio .more {
  color: white;
  padding: 15px 50px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  background-color: var(--main-color);
  text-transform: uppercase;
}
/* End Portfolio*/
/* Start Video*/
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(0 0 0 / 80%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent--color);
  color: white;
  text-align: center;
  padding: 50px;
  width: 100%;
  text-transform: uppercase;
}
.video .text h2 {
  font-weight: normal;
}
.video .text p {
  margin: 30px 0;
  /* font-size: 12px; */
}
.video .text button {
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0);
  padding: 10px 20px;
  border: none;
}
/* End Video**/
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  margin-top: -120px;
  bottom: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    margin-top: -60px;
    bottom: -60px;
  }
}
/* End About */
/* Start Status */
.status {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/stats.png);
  background-size: cover;
  text-align: center;
  position: relative;
}
.status::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(0 0 0 / 70%);
}
.status .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.status .container .box {
  max-width: 100%;
  background-color: var(--transparent--color);
  padding: 50px;
  color: white;
}
@media (max-width: 767px) {
  .status .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .status .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .status .container .box {
    flex-basis: 25%;
  }
}
.status .container .box i {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.status .container .box .number {
  margin: 30px 0 30px;
  font-size: 30px;
  font-weight: bold;
}
.status .container .box p {
  font-size: 12px;
}
/* End Status */
/* Start Our Skills*/
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  font-weight: normal;
  text-align: center;
  margin: 0 0 30px;
}
.our-skills .container > div > p {
  color: #777;
  text-align: center;
  line-height: 2;
  margin-bottom: 60px;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .testimonials .content img {
  width: 100px;
  margin-right: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .content .text p {
  color: #777;
  font-size: 10px;
  text-align: right;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-skills .testimonials ul li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 50px;
}
.our-skills .skills .prog-holder h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.our-skills .skills .prog-holder .prog {
  height: 30px;
  background-color: #dedadc;
}
.our-skills .skills .prog-holder span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder span::before {
  content: attr(data-progress);
  color: white;
  background-color: black;
  text-align: center;
  position: absolute;
  right: -8px;
  top: -38px;
  padding: 5px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.our-skills .skills .prog-holder span::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent;
  right: 0;
  top: -10px;
}
/* Start Our Skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.pricing .plans .plan {
  background-color: #fcfcfcfc;
  text-align: center;
}
.pricing .plans .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .head h3 {
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.pricing .plans .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .head span::before {
  content: "$";
  font-weight: normal;
  font-size: 25px;
  margin-right: 15px;
  position: relative;
  top: -40px;
}
.pricing .plans .head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  font-weight: normal;
  right: -15px;
}
.pricing .plans ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans ul li {
  position: relative;
  padding: 20px;
}
.pricing .plans ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  left: 50%;
  bottom: 0;
  background-color: var(--main-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: black;
}
.pricing .contact-text {
  margin: 50px auto 20px;
  text-align: center;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(0 0 0 / 75%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  position: relative;
  display: flex;
  width: 500px;
  max-width: 100%;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.subscribe form input[type="email"] {
  background: none;
  caret-color: var(--main-color);
  padding: 20px 20px 20px 60px;
  border: 1px solid white;
  border-right: none;
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  width: 130px;
  border: 1px solid white;
  background-color: var(--main-color);
  border-left: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 20px 0 0;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #ccc;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  padding: 20px 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 30px;
}
.contact .content .info .phone {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact .content .info address {
  line-height: 2;
  color: #777;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(0 0 0 / 75%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: normal;
  margin: 30px auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  width: fit-content;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  color: var(--main-color);
  font-weight: bold;
}
/* End footer */
